<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>macrofarma </title>
    <link rel="stylesheet" href ="./css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" 
rel="stylesheet" />
    <link rel="icon" href ="http://www.drogueriamacrofarma.com/images/favicon.png">
</head>

<body class = "loginBg">
<!-- FORMULARIO -->
<main>
    <div  class = "loginMain">
    <img class = "logoLogin" src = "./images/logo.png" alt = "macrofarma">
    <form action="/" method="GET" class="formulario-login">
       
        <h3 class="loginText">USUARIO</h3>
        <div class = "control-formulario">
            <input type="text" name="user" class="control" minlength="2" required>
        </div>
        <h3 class="loginText">CONTRASEÑA</h3>
        <div class = "control-formulario">
            <input type="password" name ="password"  class ="control" required>
        </div>
        <a href="/"><h3 class="forgotPass">¿Olvidaste tu contraseña?</h3> </a>
        <button type="submit" class="buttonLogIn">LOGIN</button>
        </form>
    </div>
</main>
    
    
  </body>
</html>