<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>macrofarma </title>
    <link rel="stylesheet" href ="./css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" 
rel="stylesheet" />
    <script src="https://kit.fontawesome.com/78ae54f262.js" crossorigin="anonymous"></script>
    <link rel="icon" href ="http://www.drogueriamacrofarma.com/images/favicon.png">
</head>

<header>
    <div class = "header-bg">
        <div class = "points-wrap">
        <h3>TUS PUNTOS</h3>
        <h3 class = "points">150</h3>
        <img class = "point-img" src = "./images/points.png" alt = "macrofarma">
        </div>
        <img class = "header-logo-img" src = "./images/logo.png" alt = "macrofarma">
    </div>

</header>


<body class = "bodyProducts">

<main class = "mainProducts">
    <section class = "shadowWrap">
        <div class = "lastMovementsTitle">
         <h3>ULTIMOS MOVIMIENTOS</h3>
        </div>
        <div class = "lastMovementsInfo">
            <div class = "lastMovements">
                <i class="fa-solid fa-caret-up"></i>
                <h3>Ganaste 100 puntos</h3>
                <h4>10/12/2022</h4>
            </div> 
            <div class = "lastMovements">
                <i class="fa-solid fa-caret-down"></i>
                <h3>Canjeaste 100 puntos</h3>
                <h4>10/12/2022</h4>
            </div>    
            <div class = "lastMovements">
                <i class="fa-solid fa-caret-down"></i>
                <h3>Canjeaste 100 puntos</h3>
                <h4>10/12/2022</h4>
            </div> 
            <div class = "lastMovements">
                <i class="fa-solid fa-caret-down"></i>
                <h3>Canjeaste 20 puntos</h3>
                <h4>10/12/2022</h4>
            </div>             
        </div>
    </section>

    <section>
        <div class = "productsTitles">
        <p>Nuestros Productos</p>
        </div>
        <hr>
    </section>

    <section class = "productShadowWrap">
        <div class = "productNameWrap">
            <h3 class = "productName">NOMBRE PRODUCTO</h3>
        </div>
        <img src = "./images/product1.jpg" alt = "productName">
        <div class = "categoryWrap">
            <div class = "category">
                <h4>CATEGORIA DEL PRODUCTO</h4>
            </div> 
        </div>
        <div class = "pointsProductWrap">
            <div class = "pointProduct">
                <h4>150p</h4>
            </div> 
        </div>
    </section>

    <section>
        <div class = "productsTitles">
        <p>Productos por tus puntos</p>
        </div>
        <hr>
    </section>
    
</main>
    
    
  </body>
</html>