<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>macrofarma </title>
    <link rel="stylesheet" href ="./css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" 
rel="stylesheet" />
    <script src="https://kit.fontawesome.com/78ae54f262.js" crossorigin="anonymous"></script>
    <link rel="icon" href ="http://www.drogueriamacrofarma.com/images/favicon.png">
</head>

<header>
    <!-- HEADER POINTS -->
        <div class = "header-bg">
            <div class = "header-pu">
            <div class = "points-wrap">
            <h3>PUNTOS</h3>
            <div class= "coin-point">
            <h3 class = "points">150</h3>
            <img class = "point-img-1" src = "./images/points.png" alt = "macrofarma">
            </div>
        </div>
    
    <!-- HEADER USER -->
            <div class = "user-wrap">
                <div class = "footerIcon"><a href = "products"><i class="fa-solid fa-house"></i></a></div>
                <div class = "footerIcon"><a href = "products"><i class="fa-solid fa-cart-shopping"></i></a></div>
                <div class = "footerIcon"><a href = "#"><i class="fa-solid fa-arrow-right-from-bracket"></a></i></div>
                <a href = "profile"><img class = "head-img-user" src = "./images/avatar.png" alt = "user"></a>
            </div>
    
        </div>
            <img class = "header-logo-img" src = "./images/logo-green.jpg" alt = "macrofarma">
        </div>
    
    
    <!-- HEADER SCROLL -->
        <div class = "header-scroll" id = "header-scroll">
            <div class = "header-pu">
            <div class = "points-wrap-scroll">
            <h3 class = "points">150</h3>
            <img class = "point-img-scroll" src = "./images/points.png" alt = "macrofarma">
            </div>
    
            <div class = "user-wrap-scroll">
                <div class = "footerIcon"><a href = "products"><i class="fa-solid fa-house"></i></a></div>
                <div class = "footerIcon"><a href = "products"><i class="fa-solid fa-cart-shopping"></i></a></div>
                <div class = "footerIcon"><a href = "#"><i class="fa-solid fa-arrow-right-from-bracket"></a></i></div>
                <a href = "profile"><img class = "head-img-user-scroll" src = "./images/avatar.png" alt = "user"></a>
            </div>
        </div>
    
    
            <img class = "header-logo-img-scroll" src = "./images/logo-green.jpg" alt = "macrofarma">
        </div>
    
    </header>


<body class = "bodyProducts">

<main class = "mainProducts">
    <section class = last-movements-wrap>
        <div class = "lastMovementsTitle" id = "lastMovementsTitle">
            <div id = "lastMovementsDown" class = "last-down">
            <i class="fa-solid fa-caret-down"></i>
            </div>
            <div  class = "last-down-txt">
            <h3>ÚLTIMOS MOVIMIENTOS</h3>
            </div>
            <div id = "lastMovementsDown2" class = "last-down">
            <i class="fa-solid fa-caret-down"></i>
            </div>
        </div>
        <div class = "lastMovementsInfo" id = "lastMovementsInfo">
            <div class = "lastMovements">
                <div class = product-arrow>
                <i class="fa-solid fa-caret-up"></i>
                </div>
                <h3>Ganaste 100 puntos</h3>
                <div class = product-arrow>
                <h4>10/12/2022</h4>
                </div>
            </div> 
            <div class = "lastMovements">
                <div class = product-arrow>
                <i class="fa-solid fa-caret-up"></i>
                </div>
                <h3>Ganaste 100 puntos</h3>
                <div class = product-arrow>
                <h4>10/12/2022</h4>
                </div>
            </div> 
            <div class = "lastMovements">
                <div class = product-arrow>
                <i class="fa-solid fa-caret-up"></i>
                </div>
                <h3>Ganaste 100 puntos</h3>
                <div class = product-arrow>
                <h4>10/12/2022</h4>
                </div>
            </div> 
            <div class = "lastMovements">
                <div class = product-arrow>
                <i class="fa-solid fa-caret-up"></i>
                </div>
                <h3>Ganaste 100 puntos</h3>
                <div class = product-arrow>
                <h4>10/12/2022</h4>
                </div>
            </div>         
        </div>
    </section>

    <!-- NUESTROS PRODUCTOS -->

    <section>
        <div class = "products-titles">
        <p>Editar datos de usuario</p>
        <i class="fa-solid fa-user-pen"></i>
        </div>
        <hr>
    </section>

    <section class = "products-wrap-d">
        <form action="/" method="GET" class="formulario-login">
       
            <h3 class="loginText">NOMBRE</h3>
            <div class = "control-formulario">
                <input type="text" name="name" class="control" minlength="2" required>
            </div>
            <h3 class="loginText">APELLIDO</h3>
            <div class = "control-formulario">
                <input type="text" name ="lastname"  class ="control" required>
            </div>
            <h3 class="loginText">FECHA DE NACIMIENTO</h3>
            <div class = "control-formulario">
                <input type="date" name ="date"  class ="control" required>
            </div>
            <h3 class="loginText">EMAIL</h3>
            <div class = "control-formulario">
                <input type="mail" name ="mail"  class ="control" required>
            </div>
            <button type="submit" class="buttonLogIn">EDITAR</button>
            </form>
    </section>
            
</main>

  <!-- FOOTER -->
  <footer class="footer-profile">
    
    <!-- FOOTER MOBILE-->
    <div class = "footer-mobile">
    <div class = "footer-img-wrap">
        <a href = "profile"><div class = "footer-img"><img src="./images/avatar.png" alt="Avatar"></div></a>
    </div>
    <div class = "footerIcon"><a href = "products"><i class="fa-solid fa-house"></i></a></div>
    <div class = "footerIcon"><a href = "#"><i class="fa-solid fa-cart-shopping"></i></a></div>
    <div class = "footerIcon"><a href = "#"><i class="fa-solid fa-arrow-right-from-bracket"></i></a></div>
    </div>

    <!-- FOOTER PC -->
    <div class = "footer-pc">
        <h3>macrofarma</h3>
    </div>

</footer>
    
<script src="/js/Product.js"></script>    
</body>
</html>