* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "Roboto";
    font-size: 14px;
    text-decoration:none;
}

body {
    text-size-adjust: 12px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    background-color: #ebebeb; 
    height: 100vh;
   }


.logoLogin {
    display: flex;
    align-items: center;
    margin: auto;
    width: 100px;
    margin-bottom: 90px;
}

.loginBg {
    background-color: #8DC04E;
}

.loginMain {
    margin-top: 78px;
    padding-top: 120px;
    border-radius: 25px 25px 0px 0px;
    box-shadow: 0px -6px 13px rgb(0 0 0 / 50%);
    background-image: url("../images/bkg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.loginText  {
    color: white;
    margin: 0px;
    margin-bottom: 12px;
    font-size: .7rem;
    font-weight: lighter;
}

.forgotPass  {
    color: #FFC849;
    margin: 0px;
    margin-bottom: 12px;
    font-size: .7rem;
    font-weight: lighter;
    text-align: center;
    margin-top: 20px;
}

.rememberUser  {
    color: #FFC849;
    margin: 0px;
    margin-bottom: 12px;
    font-size: 0.8rem;
    font-weight: lighter;
    text-align: center;
    margin-top: 20px;
    cursor:pointer; cursor: hand
}

.checkboxWrap {
    text-align: right;
}

[type="checkbox"] {
   display: none;
}

label {
   position: relative;
   padding-left: 24px;
}

label:before {
    content: " ";
    border: solid 1px #FFC849;
    border-radius: 3px;
    width: 1.2rem;
    height: 1.2rem;
    position: absolute;
    left: 0px;
    transition: all 0.2s;
    transform: rotate(0deg)
}

[type="checkbox"]:checked + label:before {
    border: solid 1px #8DC04E;
    content: "✓";
    transform: rotate(360deg)
}


form {
    width: 60%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 800px;
    
}

.control {
    width: 100%;
    padding: 8px;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 55%);
    border: none;
    border-radius: 10px;
    height: 45px;
    font-weight: bolder;
    font-family: 'Roboto';
    text-transform: uppercase;
    color: #092c0d;
    outline: none;
    outline: none;
    transition: all 500ms;
    
}

.control:focus {
    width: 100%;
    padding: 8px;
    box-shadow: 0px 0px 8px rgba(243, 247, 15, 0.993);
    border: none;
    border-radius: 10px;
    height: 45px;
}



.buttonLogIn {
    border: none;
    padding: 5px 10px;
    justify-content: center;
    margin: auto;
    display: flex;
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    width: 80%;
    height: 72px;
    background: #FFC849;
    color: #484A46;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 9px;
    align-items: center;
    margin-top: 60px;
    transition: all 900ms;
}

.buttonLogIn:hover {
    background-color: #f8b822;
    font-size: 26px;
    cursor:pointer; cursor: hand
}


.logoLoginDown {
   display: flex;
    align-items: center;
    margin-top: 50px;
    margin: auto;
    width: 204px;
    opacity: 10%;
}

.control-formulario{
    margin-bottom: 15px;
}

.bodyProducts {
    background-image: url("../images/bkg.jpg");
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
}

.header-bg {
    background-color: rgba(0, 0, 0, 0.466);
    display: flex;
    padding-top: 40px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-logo-img {
    width: 50px;
}

.points-wrap {
    background-color: #FFC849;
    border-radius: 10px;
    height: 80px;
    width: 150px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    position: relative;
    transition: all 1000ms;
}

.points-wrap:hover {
    box-shadow: 2px 2px 2px 2px rgba(252, 229, 27, 0.233);
}

.points {
    color: #57772f;
    font-size: 1.6rem;
    transition: all 1000ms;
}

.points-wrap:hover .point-img{
    transform: rotateY(360deg);
}

.point-img {
    position: absolute;
    width: 40px;
    right: 115px;
    top: 47px;
    transform: rotateY();
    transition: all 1000ms;
}

.point-img:hover {
    transform: rotateY(360deg);
}

.mainProducts {
    width: 90%;
    margin: auto;
    margin-top: 20px;
    padding-bottom: 80px;
    max-width: 1200px;
}


.shadowWrap {
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.685);
}

.lastMovementsTitle {
    background-color:#FFC849;
    border-radius: 15px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 1;
    cursor:pointer; cursor: hand;
    transition: all 1000ms;
}

.lastMovementsTitle i {
    color: black;
}

.lastMovementsTitle:hover {
    background-color:#f8b822;
}

.prueba {
    border-radius: 15px 15px 0px 0px;
}

.lastMovementsDown {
    transform: rotate(0deg);
    transition: all 1000ms;
}

.rotate {
    transform: rotate(180deg);
}

.lastMovementsInfo {
    background-color: #ebebeb;
    margin: auto;
    border-radius: 0px 0px 15px 15px;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.lastMovements {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    margin-bottom: 12px;
    margin-top: 12px;
}

.mostrar {
    display: flex
}


h4 {
    font-size: .7rem;
}

.fa-caret-down {
    color: #f5b215;
}

.fa-caret-up {
    color:#8DC04E;
}

.productsTitles {
    margin: auto;
    margin-top: 30px;
    color: white;
    font-weight: normal;
    width: 95%;    
}

hr {
    margin: auto;
    border: 1.2px solid #8DC04E;
    margin-top: 5px;
    width: 95%;
    margin-bottom: 25px;
}

.productsForPoints {
    margin: auto;
    border: 1.2px solid #f5b215;
    margin-top: 5px;
    width: 95%;
    margin-bottom: 25px;
}

.productNameWrap {
    background-color: rgba(255, 255, 255, 0.9);
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    border-radius: 0px 15px 0px 0px;
}

.productName {
    color: #62B01E;
    font-size: 1.2rem;
}

.productsWrap {
    margin: auto;
    transition: all 1000ms;
    cursor:pointer; cursor: hand;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.productWrap {
    width: 48%;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.685);   
    transition: all 800ms;
    margin-bottom: 20px; 
}

.productWrap:hover {
    width: 48.2%;
    box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.192);
    cursor:pointer; cursor: hand
}

.productWrap img {
    width: 100%;
    margin-bottom: -4px;
}

.productWrap:hover img {
    color: green;
}

.categoryWrap {
    background-color: #ebebeb;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.category {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 12px;
    padding: -20px;
}

.category h4 {
    color: green;
    font-size: 0.5rem;
}

.pointsProductWrap {
    background-color: #B6C900;
    margin: auto;
    display: flex;
    height: 35px;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    padding-right: 10px;
}

.pointProduct {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.pointProduct h4 {
    color: black;
    font-size: 1.4rem;
}

footer {
    height: 46px;
    background-color: #FFC849;
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    bottom: 0px;
}

footer i {
    color: rgba(0, 0, 0, 0.301);
    font-size: 1.8rem;
    cursor:pointer; cursor: hand;
    transition: all 2000ms ease;
}

footer i:hover {
    color: rgba(0, 0, 0, 0.884);
}

footer img {
    position: relative;
    width: 47px;
    right: 3px;
    top: -3px;
    border-radius: 50px;
    background-color: #FFC849;
    padding: 5px;
    box-sizing: content-box;
}











/***************TABLET****************/

@media (min-width: 576px) {

.loginMain {
    width: 80%;
    margin: 78px auto auto auto;
}   

.loginBg {
    background-image: url("../images/bkg-bw.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

}




























  
/*************PC**************************/
@media (min-width: 769px) {

.loginBg {
       background-color: white;
}    

.loginMain {
    margin: 0px;
    padding-top: 0px;
    border-radius: 0px 0px 0px 0px;
    box-shadow: 0px -6px 13px rgb(0 0 0 / 50%);
    background-image: url("../images/bkg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 40%;
}

.logoLogin {
    padding-top: 200px;
}

.productWrap {
    width: 24%;
    transition: all 800ms;
}

.productWrap:hover {
    width: 24.2%;
}

}