:root {
    --p-color: #436b39;
    --s-color: #ffffff;
    --t-color: #7fc22d;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "Roboto";
    font-size: 14px;
    text-decoration:none;
}

body {
    text-size-adjust: 12px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    background-color: var(--s-color); 
    height: 100vh;
   }

p {
    color: var(--p-color);
    font-weight: bold;
}

.logoLogin {
    display: flex;
    align-items: center;
    margin: auto;
    width: 187px;
    margin-bottom: 20px;
}

.loginBg {
    background-color: #ffffff;
}

.loginMain {
    padding-top: 260px;
    height: 100vh;
}

.loginText  {
    color: var(--p-color);
    margin: 0px;
    margin-bottom: 12px;
    font-size: 1rem;
    font-weight: bolder;
}

.forgotPass  {
    color: var(--p-color);
    margin: 0px;
    margin-bottom: 12px;
    font-size: 1rem;
    font-weight: bolder;
    text-align: center;
    margin-top: 20px;
}

.rememberUser  {
    color: var(--p-color);
    margin: 0px;
    margin-bottom: 12px;
    font-size: 1rem;
    font-weight: bolder;
    text-align: center;
    margin-top: 20px;
    cursor:pointer; cursor: hand
}

.checkboxWrap {
    text-align: right;
}

[type="checkbox"] {
   display: none;
}

label {
   position: relative;
   padding-left: 24px;
}

label:before {
    content: " ";
    border: solid 1px var(--p-color);
    border-radius: 3px;
    width: 1.2rem;
    height: 1.2rem;
    position: absolute;
    left: 0px;
    transition: all 0.2s;
    transform: rotate(0deg)
}

[type="checkbox"]:checked + label:before {
    border: solid 1px #8DC04E;
    content: "✓";
    transform: rotate(360deg)
}


form {
    width: 60%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 800px;
    
}

.control {
    width: 100%;
    padding: 8px;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 55%);
    border: none;
    border-radius: 10px;
    height: 45px;
    font-weight: bolder;
    font-family: 'Roboto';
    text-transform: uppercase;
    color: #092c0d;
    outline: none;
    outline: none;
    transition: all 500ms;
    
}

.control:focus {
    width: 100%;
    padding: 8px;
    box-shadow: 0px 0px 8px var(--t-color);
    border: none;
    border-radius: 10px;
    height: 45px;
}



.buttonLogIn {
    border: none;
    padding: 5px 10px;
    justify-content: center;
    margin: auto;
    display: flex;
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    width: 80%;
    height: 72px;
    background: var(--p-color);
    color: var(--s-color);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 9px;
    align-items: center;
    margin-top: 60px;
    transition: all 900ms;
}

.buttonLogIn:hover {
    background-color: var(--t-color);
    font-size: 26px;
    cursor:pointer; cursor: hand
}


.logoLoginDown {
   display: flex;
    align-items: center;
    margin-top: 50px;
    margin: auto;
    width: 204px;
    opacity: 10%;
}

.control-formulario{
    margin-bottom: 15px;
}

.bodyProducts {
    background-color: var(--s-color);
}

.header-pu {
    display: flex;
}

.header-bg {
    background-color: var(--p-color);
    display: flex;
    padding-top: 40px;
    padding-bottom: 30px;
    justify-content: space-around;
    align-items: center;
}

.header-scroll {
    background-color: var(--p-color);
    display: flex;
    top: -190px; 
    position: fixed;
    width: 100%;
    z-index: 20;
    padding-top: 17px;
    padding-bottom: 10px;
    justify-content: space-around;
    align-items: center;
    transition: all 500ms;
}

.scroll-show {
    top: 0;
}

.points-wrap-scroll {
    border-radius: 10px;
    height: 30px;
    width: 150px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    margin-right: 20px;
    transition: all 1000ms;
}

.user-wrap-scroll {
   display: none;
}

.point-img-scroll {
    position: absolute;
    width: 30px;
    right: 98px;
    top: 0px;
    transform: rotateY();
    transition: all 1000ms;
}

.point-img-scroll:hover {
    transform: rotateY(360deg);
}


.header-logo-img {
    width: 50px;
    
}

.points-wrap {
    height: 80px;
    width: 150px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    transition: all 1000ms;
    margin-right: 15px;
}


.points-wrap h3{
    color: white;
    padding-left: 4px;
    padding-right: 50px;
}

.user-wrap {
    background-color: rgba(0, 0, 0, 0.185);
    border-radius: 10px;
    height: 80px;
    width: 180px;
    align-items: center;
    display: flex;
    justify-content: space-around;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    position: relative;
    transition: all 1000ms;
    margin-right: 15px;
    padding: 29px;
    padding-left: 40px;
}

.user-wrap i {
    color: var(--s-color);
    font-size: 1.5rem;
    cursor:pointer; cursor: hand;
    transition: all 2000ms ease;
}

.user-wrap i:hover {
    color: var(--t-color)
}


.points {
    color: var(--s-color);
    font-size: 1rem;
    font-weight: bold;
    transition: all 1000ms;
}

.user-wrap {
    display: none;
}

.coin-point {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}


.point-img-1 {
    width: 25px;
    right: 115px;
    top: 47px;
    transform: rotateY();
    transition: all 1000ms;
}


.point-img {
    position: absolute;
    width: 40px;
    right: 115px;
    top: 47px;
    transform: rotateY();
    transition: all 1000ms;
}

.point-product {
    width: 20px !important; 
    padding-right: 5px;
    transform: rotateY();
    background-color: transparent !important;
    padding-bottom: 4px;
    transition: all 1000ms;
}

.point-product:hover {
    transform: rotateY(360deg);
}

.point-img:hover {
    transform: rotateY(360deg);
}

.point-img-1:hover {
    transform: rotateY(360deg);
}



.mainProducts {
    width: 90%;
    margin: auto;
    margin-top: 20px;
    padding-bottom: 80px;
    max-width: 1200px;
}




.lastMovementsTitle {
    background-color: var(--p-color);
    border-radius: 15px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    cursor:pointer; cursor: hand;
    width: 100%;
    transition: all 1000ms;
}

.lastMovementsTitle i {
    color: var(--s-color);
    margin: auto;
}

.lastMovementsTitle:hover {
    background-color: var(--p-color)
}

.prueba {
    border-radius: 15px 15px 0px 0px;
    transition: all 1000ms;
}

.lastMovementsDown {
    transform: rotate(0deg);
    transition: all 1000ms;
    width: 25%;
    text-align: center;
}

.rotate {
    transform: rotate(180deg);
    transition: all 1000ms;
}

.lastMovementsInfo {
    background-color: #ebebeb;
    margin: auto;
    border-radius: 0px 0px 15px 15px;
    display: none;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    opacity: 0%;
    transition: all 1000ms;
}

.last-down-txt {
    color: var(--s-color);
    width: 50%;
    text-align: center;
}

.last-down {
    width: 25%;
    text-align: center;
}

.mostrar {
    display: flex;
    opacity: 100%;
    transition: all 1000ms;
}

.lastMovements {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 12px;
    margin-top: 12px;
    transition: all 1000ms;
}

.product-arrow {
    width: 25%;
    text-align: center;
}

.lastMovements .h3 {
    width: 50%;
    text-align: center;
}

h4 {
    font-size: .7rem;
}

.fa-caret-down {
    color: #f5b215;
}

.fa-caret-up {
    color:#8DC04E;
}

.products-titles {
    margin: auto;
    margin-top: 30px;
    color: white;
    font-weight: normal;
    display: flex;
    padding-right: 11px;
    justify-content: space-between;
    width: 95%;
}

.products-titles i {
    font-size: 1.2rem;
    color: var(--p-color);
}


hr {
    margin: auto;
    border: 1.2px solid #8DC04E;
    margin-top: 5px;
    width: 95%;
    margin-bottom: 25px;
}

.products-for-points {
    margin: auto;
    margin-top: 5px;
    width: 95%;
    margin-bottom: 25px;
}

.product-name-wrap {
    background-color: var(--p-color);
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    border-radius: 20px 20px 0px 0px;
    justify-content: center;
}

.product-name {
    color: var(--s-color);
    font-size: 1rem;
    font-weight: lighter;
}

.products-wrap {
    margin: auto;
    transition: all 1000ms;
    cursor:pointer; cursor: hand;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    transition: all 1500ms; 
}

.product-wrap {
    width: 48%;
    transition: all 800ms;
    margin-bottom: 20px; 
    margin-right: 5px;
    transition: all 1500ms;
}

.product-wrap:hover {
    width: 48.2%;
    cursor:pointer; cursor: hand
}

.product-wrap img {
    width: 100%;
    height: 200px;
    margin-bottom: -4px;
    object-fit: contain;
    background-color: #fdf0f0;
    transition: all 1500ms;
}

.product-wrap:hover img {
    color: green;
}   

.categoryWrap {
    background-color: #ebebeb;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.category {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 12px;
    padding: -20px;
    background-color: var(--t-color);
}

.category h4 {
    color: var(--p-color);
    font-size: 0.9rem;
    text-align: end;
}

.pointsproduct-wrap {
    background-color: var(--p-color);
    margin: auto;
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 0px 0px 20px 20px;
}

.pointProduct {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.pointProduct h4 {
    color: var(--s-color);
    font-size: 0.9rem;
}

footer {
    z-index: 10;
    background-color: var(--p-color);
    width: 100%;
    margin-top: 20px;
}

footer i {
    color:var(--s-color);
    font-size: 1.8rem;
    cursor:pointer; cursor: hand;
    transition: all 2000ms ease;
}

footer i:hover {
    color: var(--t-color)
}

footer img {
    position: relative;
    width: 47px;
    right: 3px;
    top: -3px;
    border-radius: 50px;
    background-color: var(--p-color);
    padding: 5px;
    box-sizing: content-box;
}

.footer-mobile {
    display: flex;
    background-color: var(--p-color);
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    bottom: 0px;
    z-index: 10;
    width: 100%;
    height: 46px;
}

.footer-pc {
    display: none;
    color: var(--s-color)
}

.footerIcon {
    display: flex;
    width: 25%;
    justify-content: center;
}

.footer-img{
    display: flex;
    justify-content: center;
}

.footer-img-wrap {
    display: flex;
    width: 25%;
    justify-content: center;
}



/***** PRODUCTOS POR PUNTOS *****/


.product-name-wrap-p {
    background-color: rgba(255, 255, 255, 0.9);
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    border-radius: 0px 15px 0px 0px;
}

.product-name-p {
    color: black;
    font-size: 1.2rem;
    font-weight: bolder;
}

.products-wrap-p {
    margin: auto;
    width: 100%;
    transition: all 1000ms;
    cursor:pointer; cursor: hand;
}

.product-wrap-p {
    width: 95%;
    margin: auto;
    background-color: #fdf0f0;
    border-radius: 15px;  
    transition: all 800ms;
    height: 150px;
    margin-bottom: 40px; 
    position: relative;
    display: flex;
    align-items: center;;
}

.product-wrap-p:hover {
    width: 100%;
    box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.192);
    cursor:pointer; cursor: hand;
}

.product-wrap-p img {
   height: 90%;
   width: 45%;
   padding-left: 5px
}

.image-p {
    height: 90%;
    width: 40%;
    margin-left: 9px;
    padding-left: 5px;
    object-fit: contain;
    border-radius: 15px;
    background-color: white;
}

.image-detail {
    width: 100%;
    margin: auto;
    object-fit: contain;
    background-color: white;
}

.product-wrap-p:hover img {
    color: green;
}

.product-description-wrap-p {
    height: 90%;
    background-color: var(--p-color);
    border-radius: 15px;
    position: absolute;
    z-index: 1;
    top: -14px;
    right: 21px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 1000ms;
}


.product-description-wrap2-p {
    height: 90%;
    width: 90%;
    margin: auto;
    margin-top: 8px;
    margin-bottom: 10px;
    overflow:hidden; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 12px;
}

.product-wrap-p:hover .product-description-wrap-p{
    width: 53%;
    top: -30px;
    right: 8px;
}

.product-description-p {
    display: none
}

.product-price-p h3 {
    font-size: 0.8rem;
    text-align: right;
    color: var(--s-color);
}

.categoryWrap-p {
    background-color: #ebebeb;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.product-name-p h3 {
    text-align: right;
    color: var(--s-color);
}

.category-p h4 {
    text-align: right;
    font-size: 0.7rem;
    color: var(--s-color);
}

.pointsproduct-wrap-p {
    background-color: #B6C900;
    margin: auto;
    display: flex;
    height: 35px;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    padding-right: 10px;
}


/**** DETALLE DE PRODUCTO ****/

.products-wrap-d {
    margin: auto;
    transition: all 1000ms;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.product-wrap-d {
    width: 90%;
    margin: auto;
    box-shadow: 0px 10px 10px rgb(0 0 0 / 69%);
    transition: all 800ms;
    margin-bottom: 20px;
    background-color: #ebebeb;
}

.d-name-wrap{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    margin: 10px;
}

.d-img {
    min-height: 240px;
    height: 50%;
    width: 100%;
    padding-left: 5px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: white;
 }

 .d-category {
    text-transform: uppercase;
     font-size: 0.7rem;
     color: #62B01E;
 }

.d-name {
    text-transform: uppercase;
    font-size: 1.2rem;
    color: #62B01E;
}

.d-price {
    font-size: 1.5rem;
    font-weight: bold;
}


 .d-description-wrap {
     background-color: #f5b215;
     height: auto;
 }

 .d-description {
     padding: 15px;
     text-align: justify;
 }

 .button-exchange {
    border: none;
    padding: 5px 10px;
    justify-content: center;
    margin: auto;
    display: flex;
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    width: 80%;
    height: 72px;
    background: #8DC04E;
    color: black;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 9px;
    align-items: center;
    transition: all 900ms;
}

.button-exchange:hover {
    background-color: #f8b822;
    font-size: 26px;
    cursor:pointer; cursor: hand
}

.button-exchange-d {
    display: none;
}










































/***************TABLET****************/

@media (min-width: 576px) {

.loginMain {
    width: 80%;
    margin: auto;
}   



/**** DESCRIPCIÓN PRODUCTO TABLET ****/

.d-name-wrap {
    margin-right: 20px;
    margin-left: 20px;
    justify-content: space-between;
}

.product-wrap img {
    height: 350px;
}

.image-detail {
    height: 350px;
    margin: auto;
    object-fit: contain;
    background-color: white;
}

}




























  
/*************PC**************************/
@media (min-width: 769px) {

.loginBg {
       background-color: white;
}    

.loginMain {
    margin: 0px;
    padding-top: 0px;
    border-radius: 0px 0px 0px 0px;
    box-shadow: 0px -6px 13px rgb(0 0 0 / 50%);
    background-color: var(--s-color);
    height: 100vh;
    width: 40%;
}

.loginBg {
    background-image: url("../images/bkg-bw.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.logoLogin {
    padding-top: 200px;
}

.points-wrap:hover .point-img{
    transform: rotateY(360deg);
}

.head-img-user {
    position: absolute;
    width: 50px;
    right: 144px;
    top: 47px;
    transform: rotateY();
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.185);
    padding: 1px;
    transition: all 1000ms;
}

.head-img-user:hover {
    width: 53px;
}

.head-img-user-scroll {
    position: absolute;
    width: 40px;
    right: 110px;
    top: -5px;
    transform: rotateY();
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.185);
    padding: 1px;
    transition: all 1000ms;
}

.head-img-user-scroll:hover {
    width: 43px;
}

.user-wrap {
    display: flex;
}

.product-wrap {
    width: 24%;
    transition: all 800ms;
}

.product-wrap:hover {
    width: 24.2%;
}


.product-description-p {
    display: flex;
}

.products-wrap-p {
    display: flex;
}
.product-wrap-p {
    width: 48%;
}

.product-wrap-p:hover {
    width: 49%;
}

.product-description-wrap-p {
    height: 90%;
    width: 55%;
    margin: auto;
    margin-top: 8px;
    margin-bottom: 10px;
    overflow:hidden 
}

.product-wrap-p:hover .product-description-wrap-p{
    width: 53%;
    top: -30px;
    right: 8px;
}

.product-description-wrap2-p {
    height: 90%;
    width: 90%;
    margin: auto;
    margin-top: 8px;
    margin-bottom: 10px;
    overflow:hidden; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 12px;
}

.product-description-p h3{
    overflow:hidden;
    font-size: 0.7rem; 
}


.image-detail {
    width: 25%;
    height: 100%;
    margin: auto;
    padding: 15px;
    object-fit: contain;
    background-color: white;
    border-radius: 15px;
    margin-right: 15px;
    box-shadow: 0px 8px 8px rgb(0 0 0 / 25%);
}

footer {
    margin-top: -10px;
    position: relative;
    z-index: 10;
    bottom: -9px;
}

/****** DESCRIPCION PRODUCTO ****/


.products-wrap-d {
    margin: auto;
    transition: all 1000ms;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.product-wrap-d {
    width: 90%;
    height: 400px;
    margin: auto;
    transition: all 800ms;
    background-color: #ebebeb;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 00%);
    display: flex;
}

.tablet-d {
    display: flex;
    width: 90%;
    margin: auto;
    align-items: center;
    justify-content: space-around;
}

.d-name-wrap{
    display: flex;
    justify-content: space-around;
    margin: 10px;
    width: 25%;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-end;
    align-content: flex-end;
}


.d-img {
    width: 25%;
    padding-left: 5px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: white;
    box-shadow: 0px 10px 10px rgb(0 0 0 / 40%);
    border-radius: 10px;
 }

 .d-category {
    text-transform: uppercase;
     font-size: 0.9rem;
     color: #62B01E;
     text-align: right;
 }

.d-name {
    text-transform: uppercase;
    font-size: 1.8rem;
    color: #62B01E;
    text-align: right;
    margin: 3px 0px;
}

.d-price {
    font-size: 2rem;
    font-weight: bold;
    text-align: right;
    margin: 3px 0px 20px 0px;
}


 .d-description-wrap {
     background-color: #f5b215;
     height: 90%;
     width: 40%;
     padding: 15px;
     text-align: justify;
     border-radius: 10px;
     box-shadow: 0px 10px 10px rgb(0 0 0 / 40%);
 }

 .d-description {
     padding: 20px;
     text-align: justify;
 }

 .button-exchange {
     display: none;
 }

 .button-exchange-d {
    border: none;
    padding: 5px 10px;
    justify-content: center;
    display: flex;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    width: 100%;
    height: 72px;
    background: #8DC04E;
    color: black;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 9px;
    align-items: center;
    transition: all 900ms;
}

.button-exchange-d:hover {
    background-color: rgba(0, 0, 0, 0.185);
    font-size: 26px;
    cursor:pointer; cursor: hand
}

.green-line {
    height: 20px;
    width: 90%;
    margin: auto;
    background-color: #8DC04E;
    z-index: 20;
    margin-bottom: 20px;
}

.user-wrap-scroll {
    background-color: rgba(0, 0, 0, 0.185);
    border-radius: 10px;
    height: 30px;
    width: 150px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    position: relative;
    margin-right: 20px;
    transition: all 1000ms;
    padding-left: 20px;

}

.user-wrap-scroll i {
    color: var(--s-color);
    font-size: 1.2rem;
    cursor:pointer; cursor: hand;
    margin-left: 10px;
    transition: all 2000ms ease;
}

.user-wrap-scroll i:hover {
    color: var(--t-color)
}

.footer-mobile {
    display: none;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    bottom: 0px;
    z-index: 10;
    width: 100%;
    height: 46px;
}

.footer-pc {
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.footer-profile {
    position:fixed;
    bottom: 0px;
}

}